@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Press+Start+2P&display=swap');

.contAllSkills {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid rgba(255, 0, 0, 0.726); */
}
.container {
    /* background-color: rgba(0, 128, 0, 0.815); */
    display: flex;
    flex-direction: row;
}

.contImage {
    width: 30%;
    /* background-color: blue;
    border: 3px solid red; */
}
.contImage img {
    width: 70%;
}
.contX {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    margin-left: -2rem;
    /* background-color: yellow;     */
}
.contX img {
    width: 3%;
}

.contDetails {
    /* position: relative; */
    /* background-color: rgba(255, 0, 0, 0.747); */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    row-gap: 2px;
    column-gap: 2px;
}

.cuadro {
    /* background-color: rgba(0, 0, 0, 0.692); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 3fx solid white; */
}
.cuadro img {
    width: 50%;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.685));
}
.cuadro label {
    font-family: 'Press Start 2P', cursive;
   
    color: #ebebeb; 
    /* -webkit-text-stroke: 0.5px #c5bdbd; 
    text-stroke: 0.5px #c5bdbd;  */
}

.cont8bits {
    display: flex;
    width: 70%;
    flex-direction: column;
    /* background-color: green; */
}
.titulo {
    font-family: 'Press Start 2P', cursive;
    color: rgb(28, 177, 15);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
       font-size: 1.5rem;
}